@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Omnes';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('/fonts/omnes_bold.ttf') format('opentype');
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

@layer base {
    body * {
        @apply transition-colors duration-200;
    }
    body {
        @apply m-auto px-4 sm:max-w-xl sm:p-0;
    }
    html {
        @apply bg-white dark:bg-black;
    }
    html.dark {
        @apply bg-black;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
        text-rendering: optimizeLegibility;
    }
}
